apisix:
  prometheus:
    enabled: true
  ssl:
    enabled: true
    containerPort: 9443

dashboard:
  enabled: true

service:
  type: NodePort
  http:
    enabled: true
    servicePort: 80
  tls:
    servicePort: 443

ingress-controller:
  enabled: true
  config:
    apisix:
      serviceNamespace: apisix
    kubernetes:
      gatewayProvider:
        enabled: true
        gatewayClassName: apisix
        gatewayNamespace: apisix
        gatewayName: apisix-gateway
      ingressClass: apisix
      defaultIngressClass: false
  gatewayProxy:
    createDefault: true
    provider:
      type: ControlPlane
      controlPlane:
        service:
          name: apisix-admin
          port: 9180
        auth:
          type: AdminKey
          adminKey:
            value: edd1c9f034335f136f87ad84b625c8f1
